#background {
    position: fixed;
    z-index: -10;
    width: 100%;
}

body {
    background: black;
}

button {
    margin: 5px;
    color: black;
    background-color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#press-button {
    text-align: center;
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: mymove 5s infinite;
    opacity: 0;
    margin: 10px 500px;
    position: absolute;
}

@keyframes mymove {
    50% {opacity: 100;}
}

.gifs-in-here{
    float: left;
    margin: 5px;
    color: yellow;
    text-align: center;
    margin-bottom: auto;
}

.footer{
    position: relative;
    bottom: 0px;
    background: black;
    border-top: 2px groove yellow;
    /* border-bottom: 2px groove red; */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: yellow;
    width: 100%;
    float: right;
}

.content {
    min-height: calc(100vh - 70px);
  }

form{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    background: yellow;
    float: right;
    padding: 5px;
}

#github, #linkedin, #stack {
    z-index: 10;
    height: 30px;
    width: 30px;
    margin: 10px 2px;
}